.welcomeCardImg {
  animation: slideToRight 1s ease-in;
}

.welcomeCardText {
  animation: slideToLeft 1s ease-in;
}

@keyframes slideToRight {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideToLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}